@import url("https://fonts.googleapis.com/css2?family");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e68ba2;
}
.wrapper{
    width: 605px;
    background: #fff;
    

}